<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="sass/estilos.css">
    <title>Easy Acconunting</title>
</head>
<body>
    <div class="contenedor">
        <h1 class="titulo">EASY ACCOUNTING</h1>
        <h2 class="descripcion">Professional Personal Acconunting App</h2>
        <h3 class="autores">Powered by CuVi</h3>

        <!-- login section-->
        <!-- <form method="post"  class="formulario"  action="/login"> -->
        <form action="/login" class="formulario" method="POST">
            <h2 class="login">Login</h2>
            <input type="text" placeholder="Username" name="username"> 
            <input type="password" placeholder="Password" name="password">
            <input type="submit" value="Submit">            
            <!-- forgot password link-->
            <a href="/forgotPass" class="forgot" role="button">Forgot your Password?</a>    
            <h4 class="dontHave">Dond't Have an accounting?</h4>
            <!-- Register link -->
            <a href="/createAccount" class="createCount" role="button">Create an Account</a>
            <h2 class="or"> OR</h2>
            <button class="loginGoogle"> Login with Google</button>
        </form>

            <div class="language-picker js-language-picker">
             <form method="POST" action="/language" class="language-picker__form">
               <label for="language-picker-select">Select your language</label>
          
               <select name="language-picker-select" id="language-picker-select">
                
                 <option lang="en" value="english" selected>English</option>
                 <option lang="de" value="español">Español</option>
                                
                 </select>
            </form>
          </div>
          <footer>
            <section class="redesSociales">
                <div class="contenedor">
                  <a href="#" class="twiter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                  <a href="#" class="gitHub"><i class="fa fa-github"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
              </section>

              <section class="copyright"> copyright CuVi</section>
          </footer>
    </div>
</body>
</html>